$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #000;
$black: #000;
$off-black: #4d4848;
$gray: #282828;
$light-gray: #d3d3d3;
$white: #fff;
$off-white: #f5f5f5;
$red: #bd2222;
$light-red: #ffe6e6;

html,
body {
  color: $off-black;
  height: 100%;
  width: 100%;
}

.user-data {
  color: $red;
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
}

.edit-user-data {
  font-family: 'Syncopate', sans-serif;
}

.logged-out {
  font-family: 'Syncopate', sans-serif;
  text-align: center;

  h4 {
    margin-top: -10px;
  }

  .btn-primary {
    background-color: $white;
    border: 1px solid $gray;
    border-radius: 0;
    color: $gray;
    margin-top: 10px;
  }

  .btn-primary:last-child {
    margin-left: 40px;
  }

  .btn-primary:hover {
    background-color: $red;
    border: 1px solid $gray;
    color: $white;
  }
}

.upload-field {
  margin-top: 5%;
}

.upload-section {
  border-top: 1px solid $red;
  cursor: pointer;
  margin-top: 15%;
  padding-top: 5%;
}

.upload-file-button {
  background-color: $white;
  border: 1px solid $gray;
  border-radius: 0;
  color: $gray;
  margin-top: 20px;
  width: 100%;
}

.upload-file-button:hover {
  background-color: $red;
  border: 1px solid $gray;
  color: $white;
}

.upload-comment:hover {
  border: 1px solid $red;
}

.upload-tag:hover {
  border: 1px solid $red;
}

.upload-folder:hover {
  border: 1px solid $red;
}

.glyphicon-folder-open {
  color: $red;
  cursor: pointer;
}


.logged-in {
  height: 100%;

  h6 {
    font-family: 'Syncopate', sans-serif;
    margin-top: -5px;
    text-align: center;
  }
}

.site-logo {
  margin: 0 auto;
  margin-top: 10%;
  width: 40%;
}

.sidebar-logo {
  cursor: pointer;
  margin: 0 auto;
  margin-top: 10%;
  width: 100%;
}

.profile-logo {
  margin: 0 auto;
  margin-top: 30%;
  width: 100%;
}

.sidebar {
  border-right: 1px solid $light-gray;
  height: 100%;
  padding: 1%;
  position: fixed;
}

.sidebar-options {
  font-family: 'Syncopate', sans-serif;
  font-size: 100%;
  list-style-type: none;
  margin-top: 10%;
  text-align: center;
}

.sidebar-option {
  cursor: pointer;
  margin-top: 15%;
}


.sidebar-option:hover {
  color: $red;
  font-weight: bold;
}

.content {
  height: 100%;
  margin-left: 25%;
}

.content-header {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  position: fixed;
  width: 70%;
}

.content-body {
  margin-top: 15%;
  padding-left: 3%;
  padding-right: 3%;
}

.header {
  color: $red;
  font-family: 'Syncopate', sans-serif;
  font-size: 130%;
}

.user-name {
  font-family: 'Syncopate', sans-serif;
}

table {
  margin-top: 3%;
  width: 100%;
}

th {
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

.breadcrumbs:hover {
  cursor: pointer;
  font-weight: bold;
  // text-decoration: underline;
}

.folder-row {
  cursor: pointer;
  font-family: 'Syncopate', sans-serif;
  margin-bottom: 10px;
}

.folder-row:first-child {
  margin-top: 20px;
}

.folder-row:hover {
  color: $red;
  font-weight: bold;
}

.log-in-partial,
.sign-up-partial {
  margin: 0 auto;
  width: 40%;
}

.custom-input-form {
  padding: 5px;
  width: 100%;
}

.image-options-button {
  background-color: $white;
  border: 1px solid $gray;
  border-radius: 0;
  box-shadow: 0 0 5px 1px rgba(189, 34, 34, .9);
  color: $gray;
  display: none;
}

.image-row {
  border-bottom: 1px solid $light-gray;
  height: 40px;
}

.image-row:hover {
  background-color: $light-red;

  .image-options-button {
    display: block;
  }

  .image-options-button:hover {
    background-color: $red;
    color: $white;
  }
}

.collaborators {
  width: 100%;
}

.chosen-collaborator {
  background-color: $black;
  color: $white;
  opacity: .5;
}

.chosen-collaborator:hover {
  background-color: $off-black;
}

.all-users-list {
  border-top: 1px solid $red;
  clear: left;
  margin-top: 14%;
  padding-top: 2%;
}

.user-profile {
  border: 1px solid $light-gray;
  float: left;
  height: 20%;
  margin: .25%;
  width: 19%;
}

.user-profile:hover {
  background-color: $red;
  opacity: .5;
}
